@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {margin: 0px;}
body {background-color: #FFF5F5}
#navbar {display:flex; justify-content:space-between; padding-left: 40px; padding-right: 40px;height: 60px; background-color: #FF3B3B; align-items:center}
#icon {display:flex; justify-content:center; align-items:center; height:40px; border-radius: 100px; border: none}
#icon:hover {transition: 0.2s ease; transform:scale3d(1.2, 1.2, 1.2)}
#icon:active {background-color: lightpink; transition: 1s ease; transform: rotateY(180deg)}
#logoname {display:flex; flex-direction: row; align-items: center; gap:20px; font-family: "Roboto Slab";font-weight: 700; color: white;}
#userlogout {display:flex; gap:20px; font-size: 18px; align-items:center }
#logoutbtn {border-radius: 7px ; height: 40px ; width: 120px; display:flex; justify-content: center; align-items: center; font-size: 20px; text-decoration: none; font-family: "Roboto Slab"; font-weight: 800;
color: white; background-color: #B80000}
p {font-family : "Roboto Slab"; color: white; font-size: 21px;}
#center{display: flex; justify-content: center; align-items: center;min-height: 100vh;}
#map-container {position: relative; display:flex; justify-content:center; align-items:center; height: 90vh; width: 90vw; border: 5px solid #FF7575; border-radius: 25px;}
#map {height: 100%; width: 100%; border-radius: 20px; }
#cfooter {display:flex;border: 2px solid black;flex-direction: row; background-color: #000C40; height: 150px; padding-left: 30px; padding-right: 50px; justify-content: center; align-items:center;}
#quote {width: 90%; font-size: 18px; font-style: italic; color: #B6C5CF}
#donateinfo {display: flex; flex-direction: column; width: 250px; justify-content: center; align-items: center; font-weight: 500; letter-spacing: 0.5px; gap: 8px}
#donatebtn {background-color: #FF3B3B; padding: 18px; font-size: 23px; text-decoration: none; font-family: "Roboto Slab"; color: white; border-radius: 15px;}
#donatebtn:hover {background-color: #B82A2A}

