* {margin: 0px;}
#list {margin-top: 30px; display:flex; justify-content:center; gap: 20px; height: 50px;margin-bottom: 30px}
.btns {border: 3px solid black; display:flex; align-items: center; padding: 10px; margin-left: 50px; margin-right: 50px;}
#info-container {display:flex;width: 100%; justify-content: center; align-items: flex-start;}
#info {display:flex; flex-direction: column;width: 80%; gap:10px;}
#requests {position: relative;display: flex;flex-direction:column;gap: 4px;border: 3px solid black;height: auto;padding: 20px;}
#titlestatus {display: flex; align-items: center; gap:15px;}
#smallinfo {display: flex; align-items: center; gap:25px;}
#buttons {display: flex;width: 100%;gap: 10px; height: 40px;}
.detailsbtn {flex: 1; border:none; border-radius: 10px;}
#acceptbtn {flex: 0.25; border:none; background-color: lightgreen; border-radius: 10px;}
#rejectbtn {flex: 0.25; border:none; background-color: lightcoral; border-radius: 10px;}
.status {padding: 3px;padding-left: 8px;padding-right: 8px;border-radius: 50px;font-family: sans-serif; font-weight: bold; font-size: 13px;}
#pending {background-color: #FFF299;border: 2px solid #D69924;color: #D69924}
#accepted {background-color: #C4FFD4;border: 2px solid #23CC56;color: #23CC56}
#rejected {background-color: #FFC4C4;border: 2px solid #FF2B2B;color: #FF2B2B}
#details {display:flex;flex-direction: row;gap: 30px;}
#personalinfo {flex: 1;display:flex;flex-direction:column; gap:10px;}
#location {flex: 1}
#heightweight {display:flex;flex-direction: row;gap:100px;}
#medhist{resize: none; height: auto; width: auto;}
[id^="map-"] {height: 250px;width: 100%;border: 2px solid gray;border-radius: 10px}
.hidden {display: none}