{% load static %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-boundary-canvas/leaflet-boundary-canvas.js"></script>
    <script src="https://cdn.maptiler.com/maptiler-geocoding-control/v2.1.7/leaflet.umd.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-geocoding-control/v2.1.7/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <h1 class="form-title">Donor Form</h1>

        {{form.full_name.label}}:<br>
        {{form.full_name}}<br><br>

        {{form.age.label}}:<br>
        {{form.age}}<br><br>

        {{form.height.label}}:<br>
        {{form.height}}<br><br>

        {{form.weight.label}}:<br>
        {{form.weight}}<br><br>

        {{form.med_history.label}}:<br>
        {{form.med_history}}<br><br>

        {{form.contact.label}}<br>
        {{form.contact}}<br><br>

        {{form.previous_donor.label}}<br>
        {{form.previous_donor}}<br><br>

        {{ form.longitude }}
        {{ form.latitude }}

        <!-- <button type="button" onClick="getLoc()">Provide Location</button> -->
        <div id="map-container">
            <div id="map" style="height: 100%; width: 100%"></div>
            <div style="position:absolute; top:0px;z-index: 999">
                <button type="button" id="remove-marker-btn" onclick="removeMarker()">Remove Marker</button>
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>
    <script>
        const API_KEY = "{{ API_KEY }}"
        // const bounds = 0, bbox = 0
        const map = L.map('map', { minZoom: 11, maxZoom: 18, maxBoundsViscosity: 1.0 }).setView([18.95, 73.25], 11);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        let geocoder = L.control.maptilerGeocoding({
            apiKey: API_KEY,
            country: "IN",
            language: "en",
            types: ["poi", "address"],
            bbox: [72.702044, 18.916219, 73.320066, 19.328002],
            marker: false
        }).addTo(map)

        let marked = false
        let marker = null
        fetch("{% static 'area.geojson' %}")
            .then(res => res.json())
            .then(geoJSON => {

                const layer = L.geoJSON(geoJSON, {
                    style: { color: 'red', weight: 0.8, fillOpacity: 0 }
                }).addTo(map);

                map.setMaxBounds(layer.getBounds());
                map.panInsideBounds(layer.getBounds());
            })
            .catch(err => console.error(err));

        map.on("contextmenu", (e) => {
            if (!marked) {
                const lat = e.latlng.lat.toFixed(6);
                const lng = e.latlng.lng.toFixed(6);
                document.getElementById("id_longitude").value = lng;
                document.getElementById("id_latitude").value = lat;
                marker = L.marker([lat, lng]).addTo(map)
                    .bindPopup(`Latitude: ${lat}, Longitude: ${lng}`)
                    .openPopup()
                marked = true
                document.getElementById("remove-marker-btn").style.display = "block";
            }
        })

        function removeMarker() {
            if (marked) {
                map.removeLayer(marker)
                // marker = null
                marked = false
                document.getElementById("remove-marker-btn").style.display = "none";
            }
        }
    </script>
</body>

</html>