{% load static %}
<!DOCTYPE html>

<head>

    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
</head>
<html>

<body>
    <form method="POST">
        <h1>Register Page</h1>
        {% csrf_token %}

        {{form.username.label}}:
        {{form.username}}

        <br><br>
        {{form.password1.label}}:
        {{form.password1}}

        <br><br>
        {{form.password2.label}}:
        {{form.password2}}

        <br><br>
        {{ form.bgroup.label }}:
        {{ form.bgroup }}

        <br><br><input type="submit" value="Register"><br><br>
        <a href="{% url 'login' %}">Login now</a>

        <div class="popup" id="pop-up">
            {% if messages %}
            {% for message in messages %}
            <span class="popup-message {{ message.tags }}">{{ message }}</span>
            {% endfor %}
            {% endif %}
        </div>

    </form>
</body>
<script>
    const popup = document.getElementById("pop-up");
    if (popup && popup.textContent.trim() !== "") {
        viewPopUp();
    }

    function viewPopUp() {
        const popup = document.getElementById("pop-up");
        popup.classList.add("show");

        setTimeout(() => {
            popup.classList.remove("show");
        }, 3000);
    }
</script>

</html>